.bdr{
    background-color: mediumpurple;
}
.bdrr{
    background-color: mediumpurple;
}
.bdrrr{
    color: mediumpurple;
    font-style: italic;
}
.bdrrrr{
    color: mediumpurple;
    font-weight: bold;
}
.men{
    color: rebeccapurple;
    font-style: italic;
    font-weight: bold;
}